.customers-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #333;
}

legend {
    padding: 8px;
    color: rgb(9, 9, 191);
    font-size: 2rem;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

label {
    text-align: left;
    padding-right: 1.5rem;
    display: block;
}

input,
textarea {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

#username, #email {
    width: 100%;
}

button,
.btn {
    margin: 16px;
    background-color: navy;
    color: whitesmoke;
    border: none;
    border-radius: 0.5rem;
    padding: 12px;
    font-size: 1.2rem;
}

form button {
    width: 200px;
}

button:hover,
.btn:hover {
    background-color: rebeccapurple;
}

.submit-btn-container,
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.address-section,
.customers-section {
    border: 1px solid #333;
    margin: 5px;
    padding: .5rem;
}

form {
    max-width: 820px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #8bc34a3e;
}

.contact-main {
    margin-bottom: .25rem;
}

.map-container {
    max-width: 700px;
    display: flex;
    justify-content: center;
}

iframe {
    width: 682px;
    height: 300px;
    border: 0;
    align-self: center;
    display: block;
}

footer {
    margin-top: 1rem;
}

input[required] {
    border-left: 4px solid red;
}

.hear {
    text-align: center;
    margin-top: 2rem;
    color: navy;
}
