.button {
    border: 0;
    cursor: pointer;
    background: #333;
    color: #eee;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    &:hover,
    &:focus {
        background-color: purple;
    }
}

form {
    display: grid;
    gap: 0.5em;
    padding: .75rem;
}

input,
textarea {
    display: block;
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #000;
    border-left: 4px solid #000;
    border-radius: 5px;
}

input[type="radio"] {
    display: inline;
    width: 10px;
    margin-right: 10px;
}

label {
    display: block;
}

fieldset {
    border: 1px solid #ccc;
}

legend {
    font-size: 1.5rem;
    font-weight: 700;
}

.membership-cards {
    display: grid;
    justify-content: space-around;
}

h2 {
    /* margin: 0; */
    font-style: italic;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 10px 10px 10px;
    height: 90px;
    padding: 10px;
    background-color: #8bc34a3e;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    a {
        background-color: #fff;
        color: #000;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #000;
        text-decoration: none;

        &:hover,
        &:focus {
            background: purple;
            color: #fff;
        }
    }
}

.membership-cards>div {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        /* opacity: 0; */
        transform: scale(1);
    }

    50% {
        /* opacity: 0.5; */
        transform: scale(1.2);
    }

    100% {
        /* opacity: 1; */
        transform: scale(1);
    }
}

/* styles for modals */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffefd5;
    padding: 5px 10px 5px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    h5 {
        text-align: center;
        color: navy;
        margin: 0;
    }
}

input[required] {
    border-left: 4px solid red;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media only screen and (min-width: 720px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        grid-column: 1/3;
    }

    .membership-cards {
        margin-bottom: 5rem;
        margin-top: 20px;
    }

    .card {
        min-width: 400px;
    }
}