body {
    margin: 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

#signup,
#newsletter {
    padding: 1em;
    max-width: 40ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / 30%);

    &::backdrop {
        background: rgb(0 0 0 / 70%);
    }
}

.button {
    border: 0;
    cursor: pointer;
    background: #333;
    color: #eee;
    font-weight: 700;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
        background: purple;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
}

form {
    display: grid;
    gap: 0.5em;
}

input {
    width: 90%;
    padding: 0.5rem;
}

h1,
h2 {
    margin: 0;
}

dialog[open] {
    background-color: beige;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
}

/* The :modal pseudo-class is not yet fully supported across all browsers and may cause errors in some environments. dialog[open] targets all dialog elements ... */